*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

#img1 {
    background-image: url(./visual-stories-micheile-fEykiYD9Vk0-unsplash.jpg);
    min-height: 100vh;
}

#img2 {
    background-image: url(./robert-eklund-tjGsQsR0ruY-unsplash.jpg);
    min-height: 500px;
}

#img3 {
    background-image: url(./enza-brunero-RcHzLhN66Oo-unsplash.jpg);
    min-height: 500px;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background-color: rgb(0, 0, 0, 0.5);
    color:rgb(255, 255, 255, 0.9);
    text-align: center;
    width: 30%;
    min-width: fit-content;
    padding: 2em 0;
    font-size: 3rem;
}

.content {
    min-height: 500px;
    font-size: 1.5rem;
}

.animista-text {
    text-align: center;
    font-size: 2rem;
    margin: auto 0;
}

.animista-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#animista-photograph {
    width: 100%;
}

a {
    font-size: 1.5rem;
    color: hsl(6, 93%, 81%);
}

.photograph {
    background-color: rgb(0, 0, 0, 0.7);
    margin-top: -1.7em;
    color:rgb(255, 255, 255, 0.9)
}

.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-1-19 22:15:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
 @-webkit-keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
  

 