*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

#img1 {
    background-image: url(./visual-stories-micheile-fEykiYD9Vk0-unsplash.jpg);
    min-height: 100vh;
}

#img2 {
    background-image: url(./robert-eklund-tjGsQsR0ruY-unsplash.jpg);
    min-height: 500px;
}

#img3 {
    background-image: url(./enza-brunero-RcHzLhN66Oo-unsplash.jpg);
    min-height: 500px;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background-color: rgb(0, 0, 0, 0.5);
    color:rgb(255, 255, 255, 0.9);
    text-align: center;
    width: 30%;
    min-width: fit-content;
    padding: 2em 0;
    font-size: 3rem;
}

.content {
    min-height: 500px;
    font-size: 1.5rem;
}

a {
    font-size: 1.5rem;
    color: hsl(6, 93%, 81%);
}

.photograph {
    background-color: rgb(0, 0, 0, 0.7);
    margin-top: -1.7em;
    color:rgb(255, 255, 255, 0.9)
}
