:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(142, 90%, 61%);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

#img1 {
    background-image: url(./visual-stories-micheile-fEykiYD9Vk0-unsplash.jpg);
    min-height: 100vh;
}

#img2 {
    background-image: url(./robert-eklund-tjGsQsR0ruY-unsplash.jpg);
    min-height: 500px;
}

#img3 {
    background-image: url(./enza-brunero-RcHzLhN66Oo-unsplash.jpg);
    min-height: 500px;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background-color: rgb(0, 0, 0, 0.5);
    color:rgb(255, 255, 255, 0.9);
    text-align: center;
    width: 30%;
    min-width: fit-content;
    padding: 2em 0;
    font-size: 3rem;
}

.content {
    min-height: 500px;
    font-size: 1.5rem;
}

.animista-text {
    text-align: center;
    font-size: 2rem;
    margin: auto 0;
}

.animista-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#animista-photograph {
    width: 100%;
}

.photograph a {
    font-size: 1.5rem;
    color: hsl(6, 93%, 81%);
}

.photograph {
    background-color: rgb(0, 0, 0, 0.7);
    margin-top: -1.7em;
    color:rgb(255, 255, 255, 0.9)
}

.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-1-19 22:15:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
 @-webkit-keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
  
/* ANIMATED CARD */
.flip-card-container {
    font-family: sans-serif;
    background-color: var(--clr-neutral-900);
    display: grid;
    place-items: center;
    line-height: 1.6;
    padding: 3rem;
}

.card {
    color: var(--clr-neutral-100);
    background-image: url(./visual-stories-micheile-fEykiYD9Vk0-unsplash.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 30ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.card-body {
    margin: .7em 0;
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.5) 15%,
        hsl(0 0% 0% / 1)
    );
    
}





.card-title {
    position: relative;
    width: max-content;
    font-size: 1.2rem;
}

.card-title::after {
    content: '';
    position: absolute;
    left: calc(var(--padding) * -1);
    bottom: 0;
    height: 4px;
    background-color: var(--clr-accent-400);
    width: calc(100% + var(--padding));
    transition: transform 500ms ease;
    transform-origin: left;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1);
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: .25em;
}

.button:hover,
.button:focus {
    background-color: var(--clr-neutral-100);
}

@media (hover) {
    .card-content {
        transform: translateY(70%);
        transition: transform 500ms ease;
    }
    .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
    }

    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(0);
        transition-delay: 500ms;
    }

    .card:focus-within .card-content {
        transition-duration: 0ms;
    }

    .card:hover .card-content > *:not(.card-title),
    .card:focus-within .card-content > *:not(.card-title) {
        opacity: 1;
        transition-delay: 1000ms;
    }

    .card-title::after {
        transform: scaleX(0);
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}
 